<!DOCTYPE html>
<html>
<head>
    <title>{{ server_name }}</title>
</head>

<body>

    <h1>Welcome to {{ server_name }} - Version 2</h1>

    <p>This website was deployed using Ansible.</p>

    <p>Environment: {{ environment1 }}</p>

</body>
</html>